<div class='container'>
  <div class='row'>
    <div class="col">
      <h6 class="display-6 text-warning p-0">Planets</h5>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class="col">
      <%= search_form_for @q do |f|  %>
        <div class="input-group mb-3">
          <%= f.search_field :name_cont, class:'form-control'%>
          <%= f.submit class: 'btn btn-outline-warning' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='row mb-2'>
    <div class="col">
      <ul class="list-group">
        <% @planets.each do |char| %>
          <li class="list-group-item"><%= link_to char.name, char, class:"link-dark" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class="col d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
