<div class="container mb-4">
  <div class="row">
    <h1 class="display-4 text-warning p-0 col-12">
      <%= @planet.name.humanize %>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 ">
      <h1 class="display-6 text-warning p-0">Information</h1>
      <p class='text-light mb-1'><strong class='text-warning'>Climate: </strong><%=@planet.climate.humanize%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Diameter: </strong><%=@planet.diameter%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Gravity: </strong><%=@planet.gravity%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Orbital period: </strong><%=@planet.orbital_period%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Rotation period: </strong><%=@planet.rotation_period%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Surface water: </strong><%=@planet.surface_water%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Terrain: </strong><%=@planet.terrain.humanize%></p>
      <p class='text-light mb-1'><strong class='text-warning'>Population: </strong><%=@planet.population%></p>
    </div>
    <% if @characters.length > 0 then%>
      <div class="col">
        <h6 class="display-6 text-warning p-0">Characters</h5>
        <ul class="list-group">
          <% @characters.each do |char| %>
            <li class="list-group-item"><%= link_to char.name, char, class:"link-dark" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @races.length > 0 then%>
      <div class='col'>
        <h6 class="display-6 text-warning p-0">Races</h5>
        <ul class="list-group">
          <% @races.each do |race| %>
            <li class="list-group-item"><%= link_to race.name, race, class:"link-dark" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <h1 class="display-6 text-warning p-0">Films</h1>
  <div class="row">
    <% @films.each do |film| %>
      <div class="col-md-6 col-lg-4 ">
        <div class="card mb-4" >
          <a href="<%= film_path(film) %>" class="link-dark">
            <img src="<%= film.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= film.title %></h5>
              <%# <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6> %>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
